div{
    background-color: red;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    animation-name:renkdegis;
    animation-duration:4s;
}

@keyframes renkdegis{
from    {
    background-color: red;
}
to{
    background-color: yellow;
}

}